.tableauPlaceholder {
    width: 100% !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }

  .table-col {
    overflow-x: auto;
    height: 70vh;
  }

  body {
    background-color: rgb(207, 217, 223);
  }

  .header {
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-position-y: 550px;
    margin-bottom: 12px;
  }

  .bgc {
    background-color: rgb(241, 241, 239);
  
  }