.tableauPlaceholder {
    width: 100% !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }

  .table-col {
    overflow-x: auto;
    height: 70vh;
 
  }

  body {
    background-color: rgb(195, 207, 214);
  }

  .header {
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-position-y: 490px;
    margin-bottom: 12px;
  }

  .filter {
    background-color: rgb(247, 247, 247);
    
  
  }