body {

    color: white;

  }

  .jumbotron {
    background-image: url("../images/Prediction.jpg");
    background-size: 50% 125%;
    text-align: center;
  }

h1 {
    color: black;
  font-weight: 900;
  }

  h3 {
    word-wrap: break-word;
    overflow-wrap: break-word;
  }

 table{
      table-layout:fixed;
      word-wrap: break-word;
     
  } 


  th {
  background-color: #2A3E2B;
  color: white;
} 


 table, th, td {
  border: 1px solid #ddd;
 
}

 td{
      word-wrap: break-word;
  } 